# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
nooter contract/contracts/Lock.sol
nooter contract/contracts/MultiFarmSwap.sol
nooter contract/contracts/noot.sol
nooter contract/contracts/WNOOT.sol
nooter contract/create-args.js
nooter contract/deploy/deploy-noot.ts
nooter contract/deploy/deploy.ts
nooter contract/deployments-zk/abstractTestnet/.chainId
nooter contract/deployments-zk/abstractTestnet/contracts/FarmSwap.sol/FarmSwap.json
nooter contract/deployments-zk/abstractTestnet/contracts/noot.sol/Noot.json
nooter contract/flattened-noot.sol
nooter contract/hardhat.config.ts
nooter contract/ignition/modules/Lock.ts
nooter contract/package-lock.json
nooter contract/package.json
nooter contract/README.md
nooter contract/scripts/deploy-all-farm-tokens.ts
nooter contract/scripts/deploy-farm-token.ts
nooter contract/scripts/deploy-farmswap-update.ts
nooter contract/scripts/deploy-milk-token.ts
nooter contract/scripts/deploy-multi-farm-swap.ts
nooter contract/scripts/deploy-new.ts
nooter contract/scripts/deploy-noot.ts
nooter contract/scripts/deploy-wheat-token.ts
nooter contract/scripts/deploy.ts
nooter contract/scripts/direct-transfer-noot.ts
nooter contract/scripts/fund-new-farmswap.ts
nooter contract/scripts/fund-noot-contract.ts
nooter contract/scripts/verify-farm-swap.ts
nooter contract/scripts/verify-farmswap.ts
nooter contract/test-verify/abstract.sh
nooter contract/test-verify/cache-zk/solidity-files-cache.json
nooter contract/test-verify/contracts.txt
nooter contract/test-verify/contracts/HelloAbstract.sol
nooter contract/test-verify/contracts/Lock.ts
nooter contract/test-verify/deploy/deploy.ts
nooter contract/test-verify/generate.js
nooter contract/test-verify/hardhat.config.js
nooter contract/test-verify/hardhat.config.ts
nooter contract/test-verify/Lock.ts
nooter contract/test-verify/package-lock.json
nooter contract/test-verify/package.json
nooter contract/test-verify/scripts/deploy.ts
nooter contract/test/Lock.ts
nooter contract/tsconfig.json
